%btn {
  border: $btn-border-width solid transparent;
  border-radius: $border-radius-base;
  cursor: pointer;
  display: inline-block;
  font: {
    family: $font-family-heading;
    size: $btn-font-size;
    weight: bold;
  };
  text-transform: uppercase;
  height: $btn-height;
  line-height: $btn-height - ($btn-border-width*2);
  outline: none;
  padding: $btn-padding;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  vertical-align: middle;
}

%form-element {
  position: relative;
  display: inline-block;
  height: $input-height;
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
  background-color: $input-bg-color;
  border-width: $input-border-width $input-border-width $input-border-width*2;
  border-color: $input-border-color;
  border-style: solid;
  vertical-align: middle;
}

%focus-inp-base-lbl {
  top: -20px;
  transform: translateY(0);
}

%no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

%justify-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

%centered-self {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}